<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="title">Title</label>
    <%= form.text_field :title, class: "form-control", id: "title", placeholder: "Title" %>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <%= form.collection_select :author_id, Author.all, :id, :set_full_name, {prompt: "Select"}, autofocus:true, class: "form-control", id: "author" %>
  </div>
  <div class="form-group">
    <label for="preview_text">Preview Text</label>
    <%= form.text_area :preview_text, class: "form-control", :class => "tinymce", id: "preview_text", :rows => 10, :cols => 80, placeholder: "Preview Text" %>
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <%= form.text_area :body, class: "form-control", :class => "tinymce", id: "body", :rows => 15, :cols => 95, placeholder: "Body" %>
  </div>

  <div class="actions">
     <%= form.submit(@blog.new_record? ? "Create Blog" : "Update Blog ", class: "btn btn-primary") %>
  </div>
<% end %>
<%= tinymce %>
